<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eversoft.traversenepal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.eversoft.forum.forum_home"
             android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start_help"></activity>
        <activity
            android:name="com.eversoft.services.nav_About_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.adapters.Place_detail"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".nav_mypick_detail_activity" />
        <activity
            android:name="com.eversoft.settings.nav_signup_activity"
            android:parentActivityName="com.eversoft.settings.nav_login_activity" />
        <activity
            android:name="com.eversoft.settings.nav_login_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.eversoft.generalfeatures.nav_feedback_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.generalfeatures.nav_contactUs_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.generalfeatures.nav_help_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.settings.nav_setting_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.visitnepal2020.nav_visitnepal2020_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.services.nav_currencyconverter"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.services.nav_weatherforecast_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.services.nav_clockconverter_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nav_mypick_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.eversoft.settings.setting_profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>